@import url('https://rawgit.com/qqyyll/NR-room/master/icon.ccs');
@import url('https://rawgit.com/qqyyll/NR-room/master/staff.css');
@import url('https://rawgit.com/qqyyll/NR-room/master/users.css');]

/* Buttons de cima do chat */
#chat-sound-button .chat-header-button {
 background: #00BFFF !important;
 }
#chat-emoji-button {
 background: #00BFFF !important;
}
#chat-mentions-button {
 background: #00BFFF !important;
}
#chat-popout-button {
 background: #00BFFF !important;
}
/* Buttons de cima do chat */

/* Botão DJ */

#dj-button .left {
background: rgba(206,25,55,0.5) !important;
}

#dj-button {
border-radius: 50px 10px 10px 50px;
background: #0b0d0f;}
