@import url('https://rawgit.com/qqyyll/NR-room/master/icon.ccs');
@import url('https://rawgit.com/qqyyll/NR-room/master/staff.css');
@import url('https://rawgit.com/qqyyll/NR-room/master/users.css');]

/* Buttons de cima do chat */
#chat-sound-button .chat-header-button {
 background: #00BFFF !important;
 }
#chat-emoji-button {
 background: #00BFFF !important;
}
#chat-mentions-button {
 background: #00BFFF !important;
}
#chat-popout-button {
 background: #00BFFF !important;
}
/* Buttons de cima do chat */


#dj-button {
 border-radius: 6px;
}

#dj-button .left {
 background: #00bfff !important;
 border-radius: 6px;
}
