@import url('https://rawgit.com/qqyyll/NR-room/master/icon.ccs');
@import url('https://rawgit.com/qqyyll/NR-room/master/staff.css');
@import url('https://rawgit.com/qqyyll/NR-room/master/users.css');]

/* Botão DJ */

#dj-button .left {
background: rgba(241,48,137,0.4) !important;
}

#dj-button {
background: rgba(0,0,0,0.4);
}

/* -------------------------- */

/* Barra de Xp */

.experience .xp .bar .progress, #footer-user .info .bar .progress, .experience .levels .level.earned.avatar .label {
	background: #f13089 !important;
}
  
/* --------------------------- */
#user-rollover .username + span {
background: rgba(241,48,137,1);	
}
