/* Color */
.icon-chat-host + span {
  color:#FF0000 !important;
  }
.icon-chat-cohost + span {
  color:#FF0000 !important;
  }
.icon-chat-manager + span {
  color:null !important;
  }
.icon-chat-bouncer + span {
  color:null !important;
  }
.icon-chat-dj + span {
  color:null !important;
 }
/* Color */

/* Backgrounds */

.icon-chat-host {
 background: url("https://rawgit.com/qqyyll/NR-room/master/Host-Co-Host.png") !important;
}
.icon-chat-cohost {
  background: url("https://rawgit.com/qqyyll/NR-room/master/Host-Co-Host.png") !important;
}

/* Backgrounds */
