/* Color */
.icon-chat-host + span {
  color:#8B0000 !important;
  }
.icon-chat-cohost + span {
  color:null !important;
  }
.icon-chat-manager + span {
  color:null !important;
  }
.icon-chat-bouncer + span {
  color:null !important;
  }
.icon-chat-dj + span {
  color:null !important;
 }
/* Color */
